<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="img/avatar3.png" class="img-circle" alt="User Image" />
        </div>
        <div class="pull-left info">
            <p>Hello, Admin</p>

            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
        </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="active">
            <a href="index.html">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#/hash/zones">
                <i class="fa fa-th"></i> <span>Zones</span>
            </a>
        </li>

      <li>
        <a href="#/hash/sites">
          <i class="fa fa-th"></i> <span>Sites</span>
        </a>
      </li>
        <li>
            <a href="#/hash/feeds">
                <i class="fa fa-th"></i> <span>News Feeds</span>
            </a>
        </li>

      <li>
        <a href="#/hash/customfeeds">
          <i class="fa fa-th"></i> <span>Custom Feeds</span>
        </a>
      </li>

        <li>
            <a href="#/hash/socials">
                <i class="fa fa-th"></i> <span>Social Media Feeds</span>
            </a>
        </li>

        <li>
            <a href="#/hash/users">
                <i class="fa fa-th"></i> <span>Users</span>
            </a>
        </li>
    </ul>
</section>
