<!-- general form elements -->
<div class="box box-primary" ng-controller="CustomfeedsCtrl">
  <div class="box-header">
    <h3 class="box-title">Manage Custom News Feeds</h3>
  </div>
  <form role="form" class="css-form">
    <div class="box-body">
      <select ng-model="selectedItem"
              ng-options="zone.name for zone in zones"
              ng-change="update(selectedItem.code)">
      </select>
    </div>
  </form>

  <div class="btn-group btn-group-lg pull-right" ng-if="selectedItem.name!=null">
    <button class="btn btn-primary btn-lg">Managing zone {{selectedItem.name}}</button>
    <p>
  </div>


  <!-- /.box-header -->
  <hr/>
  <!-- /.box-header -->
  <!-- form start -->
  <form novalidate name="customFeedForm" role="form" class="css-form" ng-if="selectedItem.name!=null">
    <div class="box-body">
      <div class="form-group">
        <label for="siteCode">Feed Site: </label>
        <select ng-model="customFeed.feedSite" required="true"
                ng-options="site.url for site in sites"
                ng-change="sitedata(customFeed.feedSite)"
                class="form-control"
                class="form-control"
                id="siteCode"
                placeholder="Select Site">
        </select>
      </div>

      <div class="form-group">
        <label for="feedLink">Custom FEED Link: </label>
        <input type="text"
               ng-model="customFeed.feedLink" required="true"
               autocomplete="off"
               class="form-control"
               id="feedLink"
               placeholder="Enter Feed Link">
      </div>
    </div>
    <div class="form-group">
      <label for="feedFilter">Filter: </label>
      <input type="text"
             ng-model="customFeed.filter" required="true"
             autocomplete="off"
             class="form-control"
             id="feedFilter"
             placeholder="Enter Feed Filter">
    </div>

    <div class="btn-group btn-group-lg">
      <button name="submit"
              type="button"
              ng-click="cancelFeed()"
              class="btn btn-primary btn-lg">Cancel
      </button>
      <button name="submit"
              ng-click="resetFeed()"
              ng-disabled="isUnchanged(customFeed)"
              type="button"
              class="btn btn-primary btn-lg">Reset
      </button>
      <button name="submit"
              ng-click="saveEditFeed(customFeed)"
              ng-disabled="customFeedForm.$invalid || isUnchanged(customFeed)"
              type="button"
              class="btn btn-primary btn-lg btn-success">{{submitButtonMode}}
      </button>

    </div>
  </form>
  <!-- /.box-body -->
  <hr/>

  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Feeds</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Number</th>
          <th>Logo</th>
          <th>Zone</th>
          <th>Filter</th>
          <th>Site Code</th>
          <th>Site</th>
          <th>Link</th>
          <th>Delete</th>

        </tr>
        </thead>
        <tbody ng-repeat="cfeed in cfeeds track by $index">

        <tr>
          <td>{{$index+1}}</td>
          <td>{{cfeed.siteLogo}}</td>
          <td>{{cfeed.zone}}</td>
          <td>{{cfeed.filter}}</td>
          <td>{{cfeed.siteCode}}</td>
          <td>{{cfeed.feedSite}}</td>
          <td>{{cfeed.feedLink}}</td>

          <td>
            <button class="btn btn-xs btn-primary"
                    ng-click="deleteFeed(cfeed)">
              Delete
            </button>
          </td>
        </tr>

        </tbody>
        <tfoot>
        <tr>
          <th>Number</th>
          <th>Logo</th>
          <th>Zone</th>
          <th>Type</th>
          <th>Site Code</th>
          <th>Site</th>
          <th>Link</th>
          <th>Delete</th>
        </tr>
        </tfoot>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->

</div><!-- /.box -->

