<div class="box box-primary" ng-controller="ErrorsCtrl">
  <div class="box-header">
    <h3 class="box-title">Check ZONE ERRORS</h3>
  </div>
  <form  role="form" class="css-form">
    <div class="box-body">
      <select ng-model="selectedItem"
              ng-options="zone.name for zone in zones"
              ng-change="updatedErrors(selectedItem.code)">
      </select>
    </div>
  </form>

  <div class="btn-group btn-group-lg pull-right" ng-if="selectedItem.name!=null">
    <button class="btn btn-primary btn-lg" >Managing zone {{selectedItem.name}}</button>
    <p>
  </div>
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">ZONE ERRORS</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Number</th>
            <th>Date</th>
            <th>Site</th>
            <th>Error Message</th>
          </tr>
          </thead>

          <tbody ng-repeat="error in errors">
          <tr>
            <td>{{$index+1}}</td>
            <td>{{error.date | date:'medium'}}</td>
            <td>{{error.site}}</td>
            <td>{{error.message}}</td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <th>Number</th>
            <th>Date</th>
            <th>Site</th>
            <th>Error Message</th>
          </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div>
